* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: rgba(226, 219, 218, 0.4);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-family: "Crimson Text", serif;
  color: rgb(198, 151, 73);
}

h3 {
  font-family: "Crimson Text", serif;
  color: rgb(198, 151, 73);
}
p {
  font-size: 1.2rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: rgb(210, 210, 210);
}

.brand {
  color: rgb(198, 151, 73);
  font-size: 1.5rem;
  font-weight: 500;
}

.hover-animation::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(198, 151, 73);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hover-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#welcome-page {
  margin: 200px auto 0 auto;
  width: 90%;
}

header {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
}
#navbar {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  background-color: black;
  z-index: 99;
}
.div-menu {
  width: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}
#nav-container img {
  object-fit: cover;
  height: 100px;
  width: auto;
}
.topnav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  width: 90%;
}

#nav-container a:not(:last-child) {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: rgb(210, 210, 210);
}

.hover-animation::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(198, 151, 73);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hover-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.div-menu,
.appointment {
  display: none;
}
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav {
    width: auto;
  }
  div .rantevou {
    display: none;
  }
  .div-menu {
    display: flex;
    align-items: center;
  }
  .div-menu .icon {
    color: rgb(198, 151, 73);
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    display: block;
    position: relative;
  }

  .topnav.responsive a {
    margin: 5px;
    display: block;
  }
}

.rantevou {
  background-color: rgb(198, 151, 73);
  display: flex;
  height: 100%;
  width: 20%;
  transform: skew(-40deg);
}
.rantevou > a {
  color: black;
  transform: skew(40deg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  color: rgb(115, 95, 50);
  cursor: pointer;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

hr {
  width: 100px;
  border: 1px solid rgb(198, 151, 73);
}
/* ------------KWDIKAS GIA TO SLIDER------------------ */
#img-slider {
  width: 100%;
  height: auto;
}
#img-slider img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#slider {
  opacity: 1;
  transition: opacity 1s;
}

#slider.fadeOut {
  opacity: 0;
}
/* ------------KWDIKAS GIA TO SLIDER--TELOS---------------- */
#about {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px auto;
  text-align: center;
}
.about-header hr {
  margin: auto;
}
.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.card {
  background-color: white;
  width: 350px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
@media screen and (max-width: 370px) {
  .card {
    width: 300px;
  }
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card-image {
  height: 250px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.img1 {
  background-image: url(images/salon.jpg);
}

.img2 {
  background-image: url(images/services.jpg);
}

.img3 {
  background-image: url(images/login.jpg);
}
.card h2 {
  padding: 10px;
}
.card p {
  padding: 10px;
}

#us {
  position: relative;
  border: 3px solid rgb(198, 151, 73);
  padding: 50px;
  width: 80%;
  height: auto;
  border-radius: 50px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#us::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(images/whyuscover.png);
  border-radius: 50px;
  background-size: cover;
  z-index: -1;
}
#us-image {
  width: 100%;
  min-width: 230px;
  height: auto;
}
#us-image img {
  border: 2px solid rgb(198, 151, 73);
  border-radius: 50px;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.circle-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-top: 20px;
}
#us button {
  width: 340px;
}
@media only screen and (max-width: 1024px) {
  #us {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media only screen and (max-width: 550px) {
  #us button {
    width: auto;
  }
}

#services {
  text-align: center;
  height: auto;
  margin-bottom: 100px;
}
.services-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.services-intro hr {
  margin: auto;
}
.services-moto {
  color: rgb(198, 151, 73);
}

#services img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(30%);
}
#services img:hover {
  transition: 1.5s;
  filter: brightness(80%);
}
.img-container {
  height: 700px;
  max-width: auto;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services > p {
  margin: 50px;
}
#works {
  background-color: rgba(40, 42, 58, 1);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 10px rgb(40, 42, 58);
  -moz-box-shadow: 0px 0px 15px 10px rgb(40, 42, 58);
  box-shadow: 0px 0px 15px 10px rgb(40, 42, 58);
}
#works h1 {
  color: rgb(198, 151, 73);
}
#works-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
  align-items: center;
}

/* EDW KEKINAEI TO SLIDER------------------------ */
.swiper [class^="swiper-button-"] {
  color: rgb(198, 151, 73);
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box > img {
  height: 500px;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.slider_container .container {
  padding: 0 15px;
  max-width: 1430px;
  margin: 0 auto;
}
.card_slider {
  padding: 50px 0;
}

/* EDW TELEIWNEI TO SLIDER -----------------------*/

/*------------------ H OMADA MAS -------------------*/
#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px auto;
}
#team-intro {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px auto;
}
#team-members {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team-member {
  color: rgb(40, 42, 58);
  position: relative;
  width: 250px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  z-index: 10;
}
.team-member::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-color: rgb(40, 42, 58);
  z-index: -1;
}
.team-member::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(198, 151, 73, 0.7);
  z-index: -1;
}
.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.4s;
}
.team-member p {
  margin: 5px 0;
}
.team-member:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 1);
}
.team-member:hover img {
  transform: scale(1.1);
}
#team-members i {
  color: rgb(40, 42, 58);
}
#team-members i:hover {
  color: white;
}
/*------------------ H OMADA MAS -------------------*/

#contact {
  display: flex;
  width: 90%;
  margin: 100px auto;
  gap: 100px;
}

#contact img {
  width: 50%;
  object-fit: cover;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.contact-flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#contact-info {
  display: grid;
  gap: 10px;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-columns: 1fr 1fr;
}
.orario {
  grid-area: 2/1/4/2;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

#contact-info h4 {
  text-align: center;
  margin: 20px auto;
}
#contact-info hr {
  width: 50%;
  margin: 0 auto 30px auto;
}

.rantevouBtn {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rantevouBtn:after {
  content: "";
  background-color: rgb(198, 151, 73);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.rantevouBtn:hover:after {
  top: 0px;
  left: 0px;
}
.rantevouBtn a {
  color: black;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .rantevouBtn {
    padding: 13px 50px 13px;
  }
}

.fa-location-dot,
.fa-phone {
  margin-right: 15px;
  color: rgb(198, 151, 73);
}
.address1,
.address2 {
  margin: 5px auto;
}

.address1 a {
  color: rgb(115, 95, 50);
}

#footer {
  height: auto;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  padding-bottom: 10px;
}

.footer-flex {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-around;
  width: 90%;
}

#icons-row {
  display: flex;
  gap: 70px;
  color: rgb(115, 95, 50);
  cursor: pointer;
}

i:hover {
  color: rgb(198, 151, 73);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(115, 95, 50);
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .footer-flex {
    flex-direction: column;
  }
  .footer-flex p,
  .footer-flex a {
    font-size: 0.8rem;
  }
  #icons-row {
    padding: 10px;
    margin: 10px;
  }
  #logo {
    border-bottom: 1px solid rgb(198, 151, 73);
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column-reverse;
    gap: 40px;
  }
  #icons {
    display: none;
  }
  #welcome-page {
    margin: 150px auto;
  }
  #intro {
    width: 100%;
  }
  #contact img {
    display: none;
  }

  #contact {
    justify-content: center;
    align-items: center;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 1rem;
  }
  .services-intro {
    gap: 30px;
    margin-bottom: 0;
  }
  .services-intro hr {
    margin: 0 auto;
  }
  #services-img {
    flex-direction: column;
    width: 100vw;
    height: auto;
  }
  #services-img img {
    width: 100vw;
    height: 22vh;
    object-fit: cover;
  }
  .contact-flex {
    gap: 30px;
  }
}

@media only screen and (max-width: 450px) {
  #contact-info {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

#logo {
  width: auto;
  height: 100px;
  object-fit: contain;
}
